
* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.header {
  background-color: #232F5D;
}

.logo {
  margin: 3px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  text-align: end;
}

nav li {
  display: inline-block;
  padding-right: 3px;
  margin: 3px;
}

nav a {
	text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}

/* default */
nav a:link {
  color: #FFD299;
}

/* linked site has been visited */
nav a:visited {
  color: #FFD299;
}

/* item receiving focus, like tabbed to */
nav a:focus {
  color: #F2F2F2;
}

/* rolling over with mouse */
nav a:hover {
  color: #F2F2F2;
}

.login-form {
  border: 3px solid #232F5D;
  border-radius: 15px;
  height: 264px;
  background-color: #F2F2F2;
  margin: 3%;
  padding: 10px;
}

.btn-primary {
  background-color: #232F5D;
}

.btn-primary:hover {
  background-color: #FFD299;
  color: #232F5D;
  border: #232F5D;
}

@media screen and (min-width: 560px) {
  .login-form{
      max-width: 435px;
      height: 188px;
      margin: auto;
      margin-top: 3%;
  }
}
